header{
	height: 50%;
	background-color: rgba(0,128,128,1);
	

}
/* position de l'image Adaming*/
.img{
	position: relative;
	top: 5%;
	left: 75%;
	padding-top: 5px;
	padding-bottom: 2px;
	
}



input[type=text],input[type=Email], select {
  width: 30%;
  border: 1px solid #ccc;
 
}

textarea{
  width: 50%;
  border: 1px solid #ccc;
  height: 75px
}

label {

  display: inline-block;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
}

input[type=submit] {
  margin-left: 25%;

}

.col-25 {
  float: left;
  width: 8%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* astuce pour faire l'alignement vertical d'une phrase*/
.bulle { 
  position: relative;  
  width: 170px; 
  height: 84px; 
  display: table;
  left:30px;
}

 .bulle p{
	color: rgb(0,128,128);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: 'Open Sans';
    font-size: 16px;
    

}


footer{
	background-color: rgba(0,128,128,1);
	height: 80px;
}

/* position de l'image facebook*/
.img-facebook{
	position: relative;
	top: 15px;
	left : 8%;
	
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75{
    width: 100%;
    margin-top: 0;
  }
}